h2{
	font-family: Verdana;
	font-size: 25px;
	font-weight: 600;
}
.Karen-title {
	font-family: Arial;
	font-size: 3vw;
	font-weight: 300;
	position:relative;
	top:2vw;
}
.intro-text{
	font-size: 1.5vw;
	display:relative;
	left:40vw;
	font-style: justify;
}
.skillsList{
	font-family: Arial;
	font-size: 1vw;
	margin-left: 2vw;
}
.experienceList{
	font-family: trebuchet;
	font-size: 1vw;
	margin-left: 10vw;
}
.headertext{
	font:Helvetica;
	font-size: 4vw;
}

.cvtext{
	font:arial;
	font-size: 1vw;
	margin-left: 4vw;
	font-style: justify;
}
.footer-text{
	font-size: 0.7vw;
}
.subtitle{
	font-size: 1vw;
}