h2{
	font-family: Verdana;
	font-size: 25px;
	font-weight: 600;
}
.Karen-title {
	font-family: Arial;
	font-size: 3vw;
	font-weight: 300;
	display:relative;
	top:2vw;
}
.intro-text{
	font-size: 1.5vw;
	clear:left;
	display:inline;
	margin-left: 5vw;
}